<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riskyd.omahjamur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OmahJamur.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.AdminTambahAdminActivity"></activity>
        <activity android:name=".activity.CustomerDaftarPetaniActivity" />
        <activity android:name=".activity.PembayaranDetailActivity" />
        <activity android:name=".activity.PetaniUpdateResiActivity" />
        <activity android:name=".activity.ProdukEditActivity" />
        <activity android:name=".activity.CustomerKeranjangActivity" />
        <activity android:name=".activity.LokasiArahActivity" />
        <activity android:name=".activity.TransaksiBayarActivity" />
        <activity android:name=".activity.TransaksiDetailActivity" />
        <activity android:name=".activity.BantuanActivity" />
        <activity android:name=".activity.TentangAplikasiActivity" />
        <activity android:name=".activity.EditProfilCustomerActivity" />
        <activity android:name=".activity.CekOutActivity" />
        <activity android:name=".activity.DetailProdukCustomerActivity" />
        <activity android:name=".activity.KatalogProdukCustomerActivity" />
        <activity android:name=".activity.DetailProdukActivity" />
        <activity android:name=".activity.DetailPetaniActivity" />
        <activity android:name=".activity.TambahProdukActivity" />
        <activity android:name=".activity.LaporanPetaniActivity" />
        <activity android:name=".activity.DaftarProdukPetaniActivity" />
        <activity android:name=".activity.ProfilActivity" />
        <activity android:name=".activity.TransaksiActivity" />
        <activity android:name=".activity.AdminDaftarPetaniActivity" />
        <activity android:name=".activity.LanjutanPendaftaranActivity" />
        <activity android:name=".activity.PilihanDaftarActivity" />
        <activity android:name=".activity.PengaturanJenisProdukActivity" />
        <activity android:name=".activity.PengaturanActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>